<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GATrackerId</key>
	<string>UA-1868672-34</string>
	<key>HelpVideo</key>
	<string>TAP Help Video.mp4</string>
	<key>KioskMode</key>
	<false/>
	<key>TourMLEndpoint</key>
	<string></string>
	<key>NavigationItems</key>
	<array>
		<dict>
			<key>imageTag</key>
			<string>275</string>
			<key>cellWidth</key>
			<string>1000</string>
			<key>yearSpacingAfter</key>
			<string>40</string>
			<key>yearSpacingBefore</key>
			<string>40</string>
			<key>yearSplit</key>
			<string>1945</string>
			<key>view</key>
			<string>TAPTimelineViewController</string>
			<key>title</key>
			<string>Timeline</string>
			<key>keycode</key>
			<string>100</string>
			<key>trackedViewName</key>
			<string>Timeline</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Detail</string>
			<key>view</key>
			<string>TAPGridDetailViewController</string>
			<key>keycode</key>
			<string>200</string>
			<key>trackedViewName</key>
			<string>Grid Detail</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Grid</string>
			<key>view</key>
			<string>TAPGridViewController</string>
			<key>keycode</key>
			<string>300</string>
			<key>trackedViewName</key>
			<string>Grid</string>
			<key>itemsPerRow</key>
			<integer>3</integer>
			<key>columnWidth</key>
			<integer>305</integer>
			<key>rowHeight</key>
			<integer>310</integer>
			<key>verticalSpacing</key>
			<integer>20</integer>
			<key>scrollDirection</key>
			<string>vertical</string>
		</dict>
		<dict>
			<key>view</key>
			<string>TAPVideoGroupViewController</string>
			<key>title</key>
			<string>Video Group</string>
			<key>keycode</key>
			<string>400</string>
			<key>trackedViewName</key>
			<string>Video Group</string>
			<key>imageTag</key>
			<integer>275</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Web Container</string>
			<key>view</key>
			<string>TAPWebViewContainerViewController</string>
			<key>trackedViewName</key>
			<string>Web Container</string>
			<key>htmlResourceName</key>
			<string>WebContainerContent</string>
		</dict>
	</array>
	<key>Stops</key>
	<dict>
		<key>tour_audio_stop</key>
		<string>AudioStop</string>
		<key>tour_image_stop</key>
		<string>ImageStop</string>
		<key>tour_stop_group</key>
		<string>StopGroup</string>
		<key>tour_video_stop</key>
		<string>VideoStop</string>
	</dict>
</dict>
</plist>
