<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GATrackerId</key>
	<string>UA-1868672-34</string>
	<key>HelpVideo</key>
	<string>TAP Help Video.mp4</string>
	<key>KioskMode</key>
	<false/>
	<key>TourMLEndpoint</key>
	<string></string>
	<key>NavigationItems</key>
	<array>
		<dict>
			<key>title</key>
			<string>Terminology</string>
			<key>view</key>
			<string>ThemeStopViewController</string>
			<key>keycode</key>
			<string>100</string>
			<key>trackedViewName</key>
			<string>Terminology</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Artists</string>
			<key>view</key>
			<string>ThemesStopViewController</string>
			<key>keycode</key>
			<string>200</string>
			<key>trackedViewName</key>
			<string>Artists</string>
			<key>itemsPerRow</key>
			<integer>3</integer>
			<key>columnWidth</key>
			<integer>305</integer>
			<key>rowHeight</key>
			<integer>310</integer>
			<key>verticalSpacing</key>
			<integer>20</integer>
			<key>scrollDirection</key>
			<string>vertical</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Critical Reception</string>
			<key>view</key>
			<string>ThemeStopViewController</string>
			<key>keycode</key>
			<string>300</string>
			<key>trackedViewName</key>
			<string>Critical Reception</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Context</string>
			<key>view</key>
			<string>ThemesStopViewController</string>
			<key>keycode</key>
			<string>400</string>
			<key>trackedViewName</key>
			<string>Context</string>
			<key>itemsPerRow</key>
			<integer>3</integer>
			<key>columnWidth</key>
			<integer>305</integer>
			<key>rowHeight</key>
			<integer>310</integer>
			<key>verticalSpacing</key>
			<integer>20</integer>
			<key>scrollDirection</key>
			<string>vertical</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Close Up</string>
			<key>view</key>
			<string>ThemesStopViewController</string>
			<key>keycode</key>
			<string>500</string>
			<key>trackedViewName</key>
			<string>CloseUp</string>
			<key>itemsPerRow</key>
			<integer>2</integer>
			<key>columnWidth</key>
			<integer>477</integer>
			<key>rowHeight</key>
			<integer>310</integer>
			<key>verticalSpacing</key>
			<integer>20</integer>
			<key>scrollDirection</key>
			<string>vertical</string>
		</dict>
	</array>
	<key>Stops</key>
	<dict>
		<key>tour_audio_stop</key>
		<string>AudioStop</string>
		<key>tour_image_stop</key>
		<string>ImageStop</string>
		<key>tour_stop_group</key>
		<string>StopGroup</string>
		<key>tour_video_stop</key>
		<string>VideoStop</string>
	</dict>
</dict>
</plist>
